
section.make-note{
    margin-inline-start: 20px;
    margin-block-start: 20px;
    margin-block-end: 20px;
    background-color: var(--clr2);
    width: max-content;
    padding: 5px;
    border: 2px solid var(--clr4);
    border-radius: 20px;
    align-self: center;
}
