
form.note-add{
    padding: 5px;
}

input.input-txt{
    margin: 15px;
}

input.input-btn{
    width: 30px;
    height: 30px;
    margin-inline-end: 5px;
    border-radius: 50%;
    transform: translate(0, 30%);
}