
section.note-list{
    width: 80vw;
    margin-block-start: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

}
 
.note-list ul {
    column-count: 4;
    list-style-type: none;
    column-gap: 0px;
    padding-inline-start: 0;
}

.note-list ul li.note-card {
    break-inside: avoid;
    padding: 5px;
    border-image: initial;
    margin: 0 10px 10px;
    border-radius: 20px;
    border: 1px solid var(--clr3);
}

div.card-options button{
    border: 1px solid var(--clr3);
    margin-inline-end: 3px;
    min-height: 20px;
    min-width: 20px;
}

button.card-colors{
    border-radius: 50%;
}

button.pinned{
    background-color: yellow;
}

@media(max-width: 1300px){
    .note-list ul{
        column-count: 3;
        column-gap: 5px;
    }
}

@media(max-width: 720px){
    section.note-list{
        width: 92vw;
    }
}

@media(max-width: 620px){
    section.note-list{
        width: 85%;
    }
    .note-list ul{
        column-count: 2;
        column-gap: 5px;
    }
}

@media(max-width: 420px){
    .note-list ul{
        column-count: 1;
    }
}

