
section.note-list{
    width: 60vw;
    margin-block-start: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-flow: dense;
}

div.note-card{
    padding: 5px;
    height: max-content;

    border-radius: 20px;
    border: 1px solid var(--clr3);
}

div.card-options button{
    border-radius: 50%;
    border: 1px solid var(--clr3);
    margin-inline-end: 3px;
    min-height: 20px;
    min-width: 20px;
}

button.pinned{
    background-color: yellow;
}

@media(max-width: 1100px){
    section.note-list{
        width: 80vw;
    }
}

@media(max-width: 720px){
    section.note-list{
        width: 92vw;
    }
}

@media(max-width: 620px){
    section.note-list{
        width: 85%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}